.update{
    color: green;
}
.open{
    color: #aaa;
}
.delete{
    color: red;
}
.newR.dark{
    background: #70d8bd !important;
}
.newR.light{
    background: #22866c !important;
}
.newR:hover{
    opacity: 0.8;
}
.width{
    width: 250px;
}
.ll.dark , .linkA.dash.dark{
    background: #1F2A40;
    color: rgb(224, 224, 224);
    border-radius: 9px;
    box-shadow: 2px 2px 5px #00000061;
}
.ll.light , .linkA.dash.light{
    background: #f2f0f0;
    color: rgb(20, 20, 20);
    border-radius: 9px;
    box-shadow: 2px 2px 5px #ccc;
}
.linkA.dash{
    padding: 0;
    margin: 0 2rem;
    display: flex
;
    width: 91%;
}
.ll {
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    outline: 0;

}
.de{
    background: #891e1e;
    color: #fff;
    margin: auto;
    border-radius: 9px;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 1rem;
    font-family: cursive;
}
.linkA a{
    border-radius:9px !important;
    outline: 0;
}
.linkA a:hover{
    background-color: transparent !important;
    transform: translateX(10px) ;
    transition: 0.5s;
}
.newR{
    background: #70d8bd !important;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    display: flex;
    align-items: center;
}
.newR svg{
    font-size: 1.8rem !important;
}
.uploadfile input {
    width: 100%;
    display: none;
  }
  
 .uploadfile .labelFile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 150px;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
    padding: 5px;
    color: #404040;
    cursor: pointer;
  }
 .uploadfile .labelFile svg{
    font-size: 6rem;
  }