
.chat {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
}
.chat .container_chat{
    width: 80%;
    height: 50%;
    margin: 12rem auto 0 auto;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
}
.chat.dark .container_chat{
   background:  linear-gradient(90.21deg, rgb(192, 111, 160) -5.91%, rgb(106, 96, 155) 111.58%);
}
.chat.light .container_chat{
    box-shadow: 5px 5px 5px #ccc;
    background: linear-gradient(132deg, #d5d88d 0%, #88b884 100%);
}